<section class="section-md flex-column drawings">
  <h2 class="with-dot">Gallery</h2>

  <ul class="box-list">
    <% @drawings.each do |drawing| %>
    <li>
      <%= image_tag(url_for(drawing.image.variant(resize: '400>', auto_orient: true))) %>
    </li>
    <% end %>
  </ul>

  <%= link_to("Get started!", descriptions_path, class: "button center") %>
</section>
