<section class="section-md flex-column drawing">
  <h2 class="with-number">Thank you for your photo!</h2>

  <%= image_tag(url_for(@drawing.image), class: "drawing-image") %>

  <h4>We’d love your feedback so please take our survey!</h4>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSdmCbJr7jdD7HbF9b9n8-JT-GNE4-uMOhQcTsBv87bc6BKC0w/viewform"
    class="button center"
    target="_blank"
    >Take survey</a
  >

  <%= link_to("Do another drawing", descriptions_path, class: "button center")
  %>
</section>
