<section class="section-md descriptions">
  <h2 class="with-number">Choose something to draw!</h2>

  <ul class="box-list">
    <% @descriptions.each do |description| %>
    <li>
      <%= link_to(description.full_title, description_path(description)) %>
    </li>
    <% end %>
  </ul>
</section>
