<section class="section-md flex-column">
  <h2>Send us your description</h2>

  <p>
    If you have made a recording of your story, you can send it to us here.
    <br>
    Or <%= link_to('request a phone call', request_call_descriptions_path) %> and we will help you record your story over the phone.
  </p>
</section>

<section class="section-sm flex-column">
  <%= form_for(@description, html: { class: "upload-form", id: "recaptcha-form" }) do |f| %>
    <%= invisible_recaptcha_tags ui: :invisible, callback: "submitInvisibleRecaptchaForm" %>

    <div>
      <div class="file-selector" id="file-selector">
        <%= image_tag(asset_path("audio_upload_box.svg")) %>
        <label>Drag and drop your audio file here or select from your device</label>
        <%= f.file_field :recording, accept: "audio/*", id: "file-input" %>
      </div>
      <label class="filename-label" id="filename-label"></label>
    </div>

    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, placeholder: "Enter a title for this recording" %>
    </div>

    <%= f.fields_for :describer do |describer_fields| %>
      <div>
        <%= describer_fields.label :name, "First name" %>
        <%= describer_fields.text_field :name, placeholder: "Enter your first name" %>
      </div>

      <div>
        <%= describer_fields.label :email, "Email" %>
        <%= describer_fields.text_field :email, placeholder: "Email" %>
      </div>

      <h5>Or if you'd rather have drawings posted to  you, your postal address (optional)</h5>

      <div>
        <%= describer_fields.label :street_address %>
        <%= describer_fields.text_field :street_address, placeholder: "Street number, street name" %>
      </div>

      <div>
        <%= describer_fields.label :suburb %>
        <%= describer_fields.text_field :suburb, placeholder: "Suburb" %>
      </div>

      <div>
        <%= describer_fields.label :city %>
        <%= describer_fields.text_field :city, placeholder: "City" %>
      </div>

      <div>
        <%= describer_fields.label :postcode %>
        <%= describer_fields.text_field :postcode, placeholder: "Postcode" %>
      </div>
    <% end %>

    <div class="alert-box">
      <%= @description.errors.full_messages.join(", ") if @description&.errors&.any? %>
    </div>

    <div class="privacy-checkbox">
      <label>
        <%= check_box_tag(:privacy) %>
      </label>
      <small>
        Yes, I agree with the <%= link_to("Draw This! Privacy & Safety Statement", privacy_path) %>.
      </small>
    </div>

    <%= f.submit("Upload", class: "button") %>
  <% end %>
</section>
