<section class="section-md">
  <h2>
    Request a phone call
  </h2>

  <p>
    The Draw This! team will call you either during the day or in the early
    evening to help you record your story over the phone.
  </p>
</section>

<section class="section-sm flex-column">
  <%= form_with(model: @call_request, url: submit_request_call_descriptions_path, html: { class: "form", id: "recaptcha-form" }, local: true) do |f| %>
    <%= invisible_recaptcha_tags ui: :invisible, callback: "submitInvisibleRecaptchaForm" %>

    <div>
      <%= f.label :name, "First name" %>
      <%= f.text_field :name, placeholder: "Enter your first name" %>
    </div>

    <div>
      <%= f.label :email, "Email (optional)" %>
      <%= f.text_field :email, placeholder: "Email" %>
    </div>

    <div>
      <%= f.label :phone, "Phone number" %>
      <%= f.text_field :phone, placeholder: "Phone number" %>
    </div>

    <div>
      <%= f.label :comment, "Comment (optional)" %>
      <%= f.text_area :comment, rows: 5, placeholder: "Add a comment here if there’s anything you’d like us to know..." %>
    </div>

    <div class="alert-box">
      <%= @call_request.errors.full_messages.join(", ") if @call_request&.errors&.any? %>
    </div>

    <%= f.submit("Submit", class: "button") %>
  <% end %>
</section>
