<div class="section-md description">
  <h2 class="with-number">Listen and draw <%= @description.full_title %></h2>
</div>

<section class="section-sm flex-column description">
  <%= audio_tag(url_for(@description.recording), autoplay: false, controls: true, id: "description-audio") %>

  <div class="player-progress">
    <label id="player-passed">-:--</label>
    <input type="range" id="player-seeker" name="volume" min="0" max="100">
    <label id="player-left">-:--</label>
  </div>

  <ul class="playback-controls">
    <li>
      <button id="btn-play" class="button-round btn-play"></button>
    </li>
    <li>
      <button id="btn-pause" class="button-round btn-pause"></button>
    </li>
    <li>
      <button id="btn-retry" class="button-round btn-retry"></button>
    </li>
  </ul>

  <%= link_to("Next", upload_drawing_description_path(@description), class: "button center") %>
</section>

<div class="section-md description">
  <% if @drawings.count.positive? %>
    <h2>Latest drawings of <%= @description.full_title %></h2>

    <ul class="box-list">
      <% @drawings.last(10).each do |drawing| %>
        <li>
          <%= image_tag(url_for(drawing.image.variant(resize: '400>', auto_orient: true))) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
