<div class="section-md">
  <h2>
    Thank you for your recording!
  </h2>

  <p>
    The Draw This! team will review your recording and email you once it's on
    the <%= link_to('Draw something page', descriptions_path) %> for kids.
  </p>
</div>
