<div class="section-md drawing-upload">
  <h2 class="with-number">
    Send my photo of <%= @description.full_title %>
    <br>
    <small>Kids, ask an adult for help!</small>
  </h2>
</div>

<section class="section-sm flex-column drawing-upload">
  <p>Take a photo of your drawing! We will share your photo in the DrawThis! Gallery and send it to <%= @description.describer_name %>.</p>

  <%= form_for(:drawing, url: drawings_path, html: { class: "upload-form", id: "recaptcha-form" }) do |f| %>
    <%= invisible_recaptcha_tags ui: :invisible, callback: "submitInvisibleRecaptchaForm" %>

    <%= hidden_field_tag :description_id, @description.id %>

    <div>
      <div class="file-selector" id="file-selector">
        <%= image_tag(asset_path("upload_box.png")) %>
        <label>Drag and drop your photo here or select from your device</label>
        <%= f.file_field :image, accept: "image/*", id: "file-input" %>
        <img id="selected-image" style="display: none;" class="selected-image" />
      </div>
      <label class="filename-label" id="filename-label"></label>
    </div>

    <div>
      <%= f.label :author, "Artist’s first name or nick name" %>
      <%= f.text_field :author, placeholder: "First name or nickname" %>
    </div>

    <div>
      <%= f.label :email, "Email (optional)" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <small>The DrawThis! team may pass on a thank you message from <%= @description.describer_name %>.</small>
    </div>

    <div class="alert-box">
      <%= @drawing.errors.full_messages.join(", ") if @drawing&.errors&.any? %>
    </div>

    <div class="privacy-checkbox">
      <label>
        <%= check_box_tag(:privacy) %>
      </label>
      <small>
        Yes, as the parent or caregiver of the artist, I agree with the <%= link_to("Draw This! Privacy & Safety Statement", privacy_path) %>.
      </small>
    </div>

    <%= f.submit("Upload", class: "button") %>
  <% end %>
</section>
