<section class="section-sm flex-column">
  <h2>
    About
    <br />
    <small
      >DrawThis! connects the young and old through story-telling and
      art.</small
    >
  </h2>

  <p>
    If you are an older adult and would like to contribute a description so that
    a primary-schooler can have fun drawing a picture for you, <%=
    link_to("please go here for more information", storytellers_path) %>. A
    photo of the drawing will even be sent to you by post, or email or both!
  </p>

  <p>
    If you are a primary school student, you can <%= link_to('choose something
    to draw here', descriptions_path) %>.
  </p>

  <p>
    Note that we are commited to ensuring the safety of everyone who uses Draw
    This! Children and storytellers are not directly connected through our site.
    Our team approve each audio description and each drawing that gets uploaded
    to the site.
  </p>

  <p>
    DrawThis! is the winner of #HacktheCrisisNZ, April 2020. We created this
    website in a single weekend and we are improving it all the time. If you
    would like to talk with us about our idea or how you can work with us,
    please email <a href="mailto:hello@drawthis.nz">hello@drawthis.nz</a>.
  </p>
</section>
