<section class="section-md flex-column tutorial">
  <h2 class="with-dot">
    How it works
    <br />
    <small
      >Draw This! connects the young and old through story-telling and
      art</small
    >
  </h2>

  <ul class="box-list">
    <li>Listen</li>
    <li>Draw</li>
    <li>Upload</li>
    <li>Make people happy</li>
  </ul>

  <p>
    If you would like to do a drawing for someone, this is how it works. First,
    you can listen to people’s recordings describing their stories, objects or
    pets. Then you can draw a picture for them. When you upload a photo of your
    drawing, we send it to the describer to help make them happy.
  </p>

  <%= link_to("Get Started!", descriptions_path, class: "button center") %>
</section>
