<section class="section-md right-section flex-column index-block">
  <h1>Draw This!</h1>

  <h3>Connecting the young and old through storytelling and art.</h3>

  <div>
    <%= link_to("Draw something", drawers_path) %>
    <span>or</span>
    <%= link_to("Tell us a story", storytellers_path) %>
  </div>
</section>
