<section class="section-sm flex-column">
  <h2>
    For Storytellers
  </h2>

  <p>If you would like to send us a description:</p>

  <p>
    1. Think about how you would describe your object, memory, or living thing
    to a primary- schooler.
  </p>

  <p>
    2. Think about the details, the colours, the personality, the big things,
    the little things, the things that make you smile. Some people find it
    helpful to write the description down ready to read it out. About 150 words
    is a good length for this.
  </p>

  <p>
    3. Aim to tell us your description in around 30 seconds to a minute. Speak
    clearly and unhurriedly - enjoy sharing your story!
  </p>

  <div class="storytellers-actions">
    <div>
      <p>If you have recorded a description click here to send it to us</p>
      <%= link_to("Send description", new_description_path, class: "button center") %>
    </div>

    <div>
      <p>or</p>
    </div>

    <div>
      <p>Need help? The Draw This! team can call you to make the recording</p>
      <%= link_to("Request call", request_call_descriptions_path, class: "button center") %>
    </div>
  </div>
</section>
