/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$color-blue: #277ad1;
$color-yellow: #f3ca40;
$color-text: #373737;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.alert,
notice {
  position: absolute;
}

h2 {
  &.with-dot {
    position: relative;
    margin-top: 60px;

    &:before {
      content: "";
      position: absolute;
      top: -60px;
      width: 60px;
      height: 60px;
      background: #ed4c4f;
      border-radius: 30px;
    }
  }

  small {
    font-size: 1.25rem;
  }

  &.with-number {
    position: relative;
    padding-left: 60px;

    &:before {
      position: absolute;
      left: -50px;
      width: 50px;
      height: 50px;
      left: 0;
      font-size: 30px;
      line-height: 40px;
      text-align: center;
      color: #277ad1;
      border: 4px solid #277ad1;
      border-radius: 25px;
    }
  }
}

a {
  color: #2e63ea;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }

  &:visited {
    color: #2e63ea;
  }
}

ol,
ul {
  margin: 0 0 1.15rem 0;
  padding: 0;
}

ul {
  list-style: none;
}

form {
  label {
    display: block;
  }

  textarea,
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 1em;

    background: white;
    border: 1px solid rgba(55, 55, 55, 0.2);
    border-radius: 5px;

    -webkit-appearance: none;
  }

  input[type="checkbox"] {
    display: inline-block;
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 20px;
    height: 20px;
  }

  & > div {
    width: 100%;
    margin-bottom: 1.15rem;
  }
}

.alert-box {
  color: #ed4c4f;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.with-tree {
  background: url(image-path("tree.png")) no-repeat top left, white;

  @media (max-width: 1400px) {
    background: white;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.8em 6em;

  background: $color-yellow;
  z-index: 10;

  .nav-logo {
    font-weight: 700;
  }

  nav {
    display: flex;

    ul {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;

      h5 {
        margin: 0;
        font-weight: 700;
      }

      li {
        margin-left: 1.25em;
      }

      a {
        color: $color-text;
      }
      a:visited {
        color: $color-text;
      }
    }
  }

  .nav-logo {
    font-size: 2.441em;
    text-decoration: none;
    color: inherit;
  }
}

.page-footer {
  display: flex;
  justify-content: center;
  background: $color-blue;

  ul {
    display: flex;
    padding: 0.8em;
    margin: 0;

    font-size: 0.8em;
    font-weight: 700;
    color: white;

    a {
      color: white;
    }
    a:visited {
      color: white;
    }
  }
}

.button {
  display: inline-block;
  padding: 1em 1.563em;
  border-radius: 1.563em;
  border: 0;

  font-size: 1.25em;
  color: white;
  background: #2e63ea;
  text-decoration: none;
  text-align: center;

  -webkit-appearance: none;

  &:visited {
    color: white;
  }

  &.center {
    align-self: center;
  }
}

.box-list {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 1;
    max-width: 400px;
    min-width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1.15rem;
    margin-bottom: 1.15rem;
    padding: 1.15rem;

    font-size: 2rem;
    text-align: center;
    border: 1px solid rgba(55, 55, 55, 0.2);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.tutorial {
  .box-list {
    li {
      position: relative;
      height: 288px;
      border: none;

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 288px;
        line-height: 288px;
        opacity: 0.2;
      }
    }

    li:nth-of-type(1):after {
      content: "1";
      color: #ed4c4f;
    }
    li:nth-of-type(2):after {
      content: "2";
      color: #2772d1;
    }
    li:nth-of-type(3):after {
      content: "3";
      color: #f4b034;
    }
    li:nth-of-type(4):after {
      content: "4";
      color: #13c803;
    }
  }
}

.index-block {
  padding-top: 8em;

  h1 {
    font-weight: 800;
    font-size: 5rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
  }

  a:nth-of-type(1) {
    width: 287px;
    height: 220px;
    padding-top: 110px;

    background: url(image-path("bird1.png")) no-repeat;
    color: white;
  }

  a:nth-of-type(2) {
    width: 176px;
    height: 228px;
    padding: 110px 20px 0 20px;
    margin-top: 90px;

    background: url(image-path("bird2.png")) no-repeat;
    color: black;
  }

  span {
    margin: 90px 20px 0 20px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
  }

  @media (max-width: 900px) {
    div {
      flex-direction: column;
    }

    a {
      margin-top: 45px;
    }

    span {
      display: none;
    }
  }
}

.descriptions {
  .with-number:before {
    content: "1";
    color: #ed4c4f;
    border: 4px solid #ed4c4f;
  }
}

.button-round {
  padding: 0;
  width: 110px;
  height: 110px;
  border: 0;
  cursor: pointer;
  background-size: contain !important;
}
.btn-play {
  background: url(image-path("btn_play.svg"));
}
.btn-pause {
  background: url(image-path("btn_pause.svg"));
}
.btn-retry {
  background: url(image-path("btn_retry.svg"));
}

.description {
  .with-number:before {
    content: "2";
    color: #277ad1;
    border: 4px solid #277ad1;
  }

  audio {
    display: none;
  }

  .player-progress {
    display: flex;
    align-items: center;
    margin-top: 1.15em;

    input {
      flex: 1;
      margin: 0 1em;
    }
  }

  .playback-controls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.052em;
    margin-bottom: 3.052em;
  }

  .box-list {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: rgba(55, 55, 55, 0.2) 10px 10px 20px;
    }

    li {
      padding: 0;
    }
  }

  .button {
    margin-bottom: 3rem;
  }
}

.center-section {
  justify-content: center;
}

.drawing {
  .with-number:before {
    content: "3";
    color: #f4b034;
    border: 4px solid #f4b034;
    color: #13c803;
    border: 4px solid #13c803;
  }

  h4 {
    align-self: center;
  }

  .drawing-image {
    object-fit: contain;
    max-height: 500px;
    width: 100%;
  }

  .button {
    margin: 1.15rem auto;
    width: 310px;
    text-align: center;
  }

  .button:last-of-type {
    background: none;
    border: 3px solid #2e63ea;
    color: #2e63ea;
  }
}

.drawing-upload {
  .with-number:before {
    content: "3";
    color: #f4b034;
    border: 4px solid #f4b034;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;

  .filename-label {
    text-align: center;
  }

  .file-selector {
    position: relative;
    cursor: pointer;

    padding: 1.563em;
    border: 2px dashed #9a9a9a;
    border-radius: 5px;
    text-align: center;

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
    }
  }

  .selected-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .privacy-checkbox {
    display: flex;

    label {
      margin-right: 0.8em;
    }
  }
}

.drawings {
  .box-list li {
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: rgba(55, 55, 55, 0.2) 10px 10px 20px;
    }
  }
}

.privacy {
  ul,
  ol {
    list-style: unset;
    list-style-position: inside;
  }
}

.storytellers-actions {
  display: flex;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 75px;

    text-align: center;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 100%;
  } /*16px*/

  h2 {
    &.with-number {
      padding-left: unset;
      margin-top: 60px;

      &:before {
        top: -60px;
      }
    }
  }

  .content {
    margin: 320px 0 0 0;
  }

  .main-nav {
    nav {
      flex-direction: column;
      align-items: center;
      max-height: 500px;
      overflow: hidden;

      transition: max-height 0.4s;

      &.folded {
        max-height: 55px;
      }

      ul {
        flex-direction: column;

        li {
          margin-left: 0;
          margin-bottom: 0.8em;
        }
      }
    }
  }

  .button-round {
    width: 60px;
    height: 60px;
  }
}
