.content {
  flex: 1;
  margin: 150px 0 0 0;
  padding-bottom: 100px;

  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.section-md {
  grid-column: col-start 3 / span 8;
}

.section-sm {
  grid-column: col-start 4 / span 6;
}

.right-section {
  grid-column: col-start 7 / span 5;
}

@media (max-width: 1400px) {
  .section-sm {
    grid-column: col-start 3 / span 8;
  }

  .right-section {
    grid-column: col-start 3 / span 8;
  }
}

@media (max-width: 700px) {
  .section-md {
    grid-column: col-start 2 / span 10;
  }

  .section-sm {
    grid-column: col-start 2 / span 10;
  }

  .right-section {
    grid-column: col-start 2 / span 10;
  }
}
