html {
  font-size: 112.5%;
} /*18px*/

body {
  background-color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #373737;
}

p {
  margin-top: 0;
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}
