<!DOCTYPE html>
<html>
  <head>
    <title>Draw This!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page <%= current_page?(controller: 'home', action: 'index') ? 'with-tree' : '' %>">
    <header class="main-nav">
      <nav id="nav">
        <a class="nav-logo" href="/">Draw This!</a>

        <ul>
          <li>
            <h5><%= link_to("Draw Something", drawers_path) %></h5>
          </li>
          <li>
            <h5><%= link_to("Tell us a story", storytellers_path) %></h5>
          </li>
          <li>
            <h5><%= link_to("Gallery", drawings_path) %></h5>
          </li>
          <li>
            <h5><%= link_to("About", about_path) %></h5>
          </li>
        </ul>
      </nav>
    </header>

    <main class="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>

    <footer class="page-footer">
      <ul>
        <li>
          <%= link_to("Privacy", privacy_path) %>&nbsp;|&nbsp;
        </li>
        <li>
          Draw This! <%= Date.today.year %>
        </li>
      </ul>
    </footer>
  </body>
</html>
